<div class="flex justify-center p-2">
  <h1 class="text-3xl font-bold">{{ count() }}</h1>
</div>
<div class="flex gap-2 p-2">
  <button
    class="px-3 py-2 font-bold text-white bg-blue-500 rounded-lg"
    (click)="increment()"
  >
    increment
  </button>
  <button
    class="px-3 py-2 font-bold text-white bg-blue-500 rounded-lg"
    (click)="decrement()"
  >
    decrement
  </button>
  <button
    class="px-3 py-2 ml-auto font-bold text-white bg-blue-500 rounded-lg"
    (click)="loadCount()"
  >
    loadCount
  </button>
</div>
<form
  class="flex flex-col items-center gap-2"
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
>
  <input formControlName="name" class="p-2 border border-blue-200 rounded-lg" />
  <button class="px-3 py-2 font-bold text-white bg-red-500 rounded-lg">
    submit
  </button>
</form>
